software/FormLoader/test/data/FormLoaderv2.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <!-- Version 1 
    see requirements/assumptions caDSR Form Loader 1.0 v2 Scope-->
  <!-- Version 2
    added minOccurs="0" to displayOrder, name and type for referenceDocument -->
  <xs:element name="forms">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="form" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="form">
    <xs:complexType mixed="true">
      <xs:sequence>
        <!-- context can be added as a default using the Form Loader -->
        <xs:element ref="context" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="createdBy" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="dateCreated" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="dateModified" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="modifiedBy" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="longName" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="changeNote" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="preferredDefinition" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="publicID" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="version" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="registrationStatus" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="workflowStatusName" minOccurs="0" maxOccurs="1"/><!-- can be a default value in form loader -->
        <xs:element ref="categoryName" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="disease" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="type" minOccurs="0" maxOccurs="1"/> <!-- default in form loader -->
        <xs:element ref="designation" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="definition" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="headerInstruction" type="instructionType" minOccurs="0" maxOccurs="1"/>
        <xs:element name="footerInstruction" type="instructionType" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="module" minOccurs="1" maxOccurs="unbounded"/>
        <xs:element ref="protocol" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="referenceDocument" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="contactCommunication" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="contactCommunication">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="rank" minOccurs="0"/>
        <xs:element name="type" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="PHONE"/>
              <xs:enumeration value="EMAIL"/>
              <xs:enumeration value="FAX"/>
              <xs:enumeration value="In Person"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="value" type="xs:string" minOccurs="0"/>
        <xs:element name="organizationName" type="xs:string" minOccurs="0"/>
        <xs:element name="organizationRAI" type="xs:string" minOccurs="0"/>
        <xs:element ref="person" minOccurs="0"/>
        <xs:element ref="createdBy" minOccurs="0"/>
        <xs:element ref="dateCreated" minOccurs="0"/>
        <xs:element ref="dateModified" minOccurs="0"/>
        <xs:element ref="modifiedBy" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="emptyString">
    <xs:restriction base="xs:string">
      <xs:enumeration value=""/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="rank" type="xs:string"/>

  <xs:element name="person">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="firstName" type="xs:string"/>
        <xs:element name="lastName" type="xs:string"/>
        <xs:element name="position" type="xs:string"/>
        <xs:element ref="address" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="address">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="addressLine1" type="xs:string"/>
        <xs:element name="addressLine2" type="xs:string"/>
        <xs:element name="city" type="xs:string"/>
        <xs:element name="state" type="xs:string"/>
        <xs:element name="country" type="xs:string"/>
        <xs:element name="postalCode" type="xs:string"/>
        <xs:element ref="rank" minOccurs="0"/>
        <xs:element name="type">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="MAILING"/>
              <xs:enumeration value="Package Delivery"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="categoryName" type="xs:string" nillable="true"/>
  <xs:element name="disease" type="xs:string" nillable="true"/>

  <xs:element name="module">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="displayOrder" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="maximumModuleRepeat" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="createdBy" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="dateCreated" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="dateModified" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="modifiedBy" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="longName" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="instruction" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="preferredDefinition" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="publicID" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="version" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="usageCategory" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="question" minOccurs="1" maxOccurs="unbounded"/>
        <xs:element ref="triggerAction" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="maximumModuleRepeat" type="xs:integer" nillable="true"/>

  <xs:element name="usageCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="usageType" minOccurs="0"/>
        <xs:element ref="rule" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="question">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="publicID" minOccurs="0" maxOccurs="1"/> <!-- Added V19 -->
        <xs:element ref="version" minOccurs="0" maxOccurs="1"/> <!-- Added V19 -->
        <xs:element ref="isDerived" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="displayOrder" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="createdBy" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="dateCreated" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="dateModified" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="modifiedBy" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="questionText" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="instruction" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="defaultValue" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="isEditable" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="isMandatory" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="multiValue" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="dataElement" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="validValue" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="triggerAction" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="questionRepetitions" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="isDerived">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="defaultValue" type="xs:string" nillable="true"/>
  <xs:element name="isEditable">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Yes"/>
        <xs:enumeration value="No"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="isMandatory">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Yes"/>
        <xs:enumeration value="No"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="multiValue">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Yes"/>
        <xs:enumeration value="No"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="questionText" type="xs:string"/>
  <xs:element name="dataElement" type="dataElementType"/>

  <xs:complexType name="dataElementType">
    <xs:sequence>
      <xs:element ref="longName" minOccurs="0"/>
      <xs:element ref="shortName" minOccurs="0"/> 
      <xs:element ref="publicID"/>
      <xs:element ref="version"/>
      <xs:element ref="context" minOccurs="0"/>
      <xs:element ref="workflowStatusName" minOccurs="0"/>
      <xs:element ref="registrationStatus" minOccurs="0"/>
      <xs:element ref="preferredDefinition" minOccurs="0"/>
      <xs:element ref="designation" minOccurs="0" maxOccurs="unbounded"/> 
      <xs:element ref="valueDomain" minOccurs="0"/>
      <xs:element ref="dataElementDerivation" minOccurs="0"/> <!-- Added in formCartV2 -->
      <xs:element ref="referenceDocument" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="cdeBrowserLink" type="URLType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="componentDataElement">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="usageCategory" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="displayOrder" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="dataElement" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="preferredDefinition" type="xs:string"/>

  <xs:element name="valueDomain">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="longName"/>
        <xs:element ref="shortName"/>
        <xs:element ref="publicID"/>
        <xs:element ref="version"/>
        <xs:element name="type" type="valueDomainType"/>
        <xs:element ref="context" minOccurs="0"/>
        <xs:element ref="workflowStatusName" minOccurs="0"/>
        <xs:element ref="datatypeName" minOccurs="0"/>
        <xs:element name="decimalPlace" type="xs:string" minOccurs="0"/>
        <xs:element ref="formatName" minOccurs="0"/>
        <xs:element name="highValueNumber" type="xs:string" minOccurs="0"/>
        <xs:element name="lowValueNumber" type="xs:string" minOccurs="0"/>
        <xs:element name="maximumLengthNumber" type="xs:string" minOccurs="0"/>
        <xs:element name="minimumLengthNumber" type="xs:string" minOccurs="0"/>
        <xs:element ref="UOMName" minOccurs="0"/>
        <xs:element ref="valueDomainConcept" minOccurs="0"/> 
        <xs:element ref="permissibleValue" minOccurs="0" maxOccurs="unbounded"/> 
        <xs:element ref="referenceDocument" minOccurs="0" maxOccurs="unbounded"/>
        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="permissibleValue"> 
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="value" minOccurs="0"/>
        <xs:element ref="valueMeaning" minOccurs="0"/>
        <xs:element name="beginDate" minOccurs="0"/>
        <xs:element name="endDate" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="validValue">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="displayOrder" minOccurs="0"/>
        <xs:element ref="value"/>
        <xs:element ref="meaningText"/>
        <xs:element ref="description"/>
        <xs:element ref="instruction" minOccurs="0"/>
        <xs:element ref="valueMeaning" minOccurs="0"/>
        <xs:element ref="triggerAction" minOccurs="0"/>
        <xs:element ref="createdBy" minOccurs="0"/>
        <xs:element ref="dateCreated" minOccurs="0"/>
        <xs:element ref="dateModified" minOccurs="0"/>
        <xs:element ref="modifiedBy" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="meaningText" type="xs:string"/>
  
  <xs:element name="valueMeaning">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="publicID" minOccurs="0"/>
        <xs:element ref="version" minOccurs="0"/>
        <xs:element ref="longName" minOccurs="0"/>
        <xs:element ref="designation" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="definition" minOccurs="0" maxOccurs="unbounded"/> <!-- Added v19 -->
        <xs:element ref="preferredDefinition" minOccurs="0"/> <!-- Added v19 -->
        <xs:element ref="conceptDerivation" minOccurs="0" maxOccurs="unbounded"/> <!-- Added v18 -->
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="conceptDerivation"> <!-- Added v18 -->
    <xs:complexType>
      <xs:sequence>
        <xs:element name="displayOrder"/>
          
        <xs:element name="primaryFlag"/> 
        <xs:element name="conceptCode"/> <!-- preferredName -->
        <xs:element name="conceptName"/> <!-- longName -->
        <xs:element name="integerValue"/> <!-- value -->
        <xs:element name="origin"/> <!-- origin -->
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="valueDomainConcept">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="primaryConceptName"/>
        <xs:element name="primaryConceptCode"/>
        <xs:element name="nciTermBrowserLink" type="xs:anyURI" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="questionRepetitions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="repeatSequenceNumber"/>
        <xs:element name="defaultValidValue"/>
        <xs:element ref="isEditable"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <xs:simpleType name="valueDomainType">
    <xs:restriction base="xs:string">
      <xs:pattern value="Enumerated|NonEnumerated"/>
    </xs:restriction>
  </xs:simpleType>


  <xs:element name="datatypeName">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Alpha DVG"/>
        <!-- Please use 'Date Alpha DVG' or 'Numeric Alpha DVG'	-->
        <xs:enumeration value="ALPHANUMERIC"/>
        <!-- A mix of numeric and alphabetic characters	-->
        <xs:enumeration value="binary"/>
        <!-- A representation with only two unique components.	-->
        <xs:enumeration value="BINARY OBJECT"/>
        <!--A binary large object such as a document or image.	-->
        <xs:enumeration value="BOOLEAN"/>
        <!--	The mathematical datatype associated with two-valued logic.	-->
        <xs:enumeration value="BRIDG_SET_v2.1"/>
        <!--	Distinct values in no particular order -->
        <xs:enumeration value="CHARACTER"/>
        <!-- A character string of letters, symbols, and/or numbers	-->
        <xs:enumeration value="DATE"/>
        <!--	A date specifying month, day, and year	-->
        <xs:enumeration value="Date Alpha DVG"/>
        <!--	Oracle Clinical datatype-contains alphanumeric and Date data	The Oracle "Date Alpha DVG" datatype signifies that data fields with the type Date can contain alphanumeric data in addition to the type of data defined by the original datatype. 
          The assignment of this datatype permits validation of specified alphanumeric data codes and allows them to 
          be entered without alerting the data entry operator or necessarily creating a discrepancy. For example, 
          a field used for recording a Birth Date would accept the text "Unknown" in addition to a numeric date without 
          causing an error. Examples at http://www.sscomp.com/web/training/docs/Global_Library_4_Practice.pdf -->
        <xs:enumeration value="DATE/TIME"/>
        <!--	DATE/TIME	-->
        <xs:enumeration value="DATETIME"/>
        <!--	A date (month,day,year) and time (hours,minutes,seconds).	-->
        <xs:enumeration value="Derived"/>
        <!--	Rule controlling data element content.	Registry Defined. Applied for ISO 11179 derivations -->
        <xs:enumeration value="evs.domain.Property"/>
        <!--	A local java datatype - Property.	-->
        <xs:enumeration value="evs.domain.Role"/>
        <!-- A local java datatype - Role.	-->
        <xs:enumeration value="evs.domain.Source"/>
        <!--	A local java datatype - Source.	-->
        <xs:enumeration value="evs.domain.TreeNode"/>
        <!--	A local java datatype - TreeNode.	-->
        <xs:enumeration value="HL7PPDv3.0"/>
        <!-- Parametric probability distribution.	HL7 Scheme Reference	-->
        <xs:enumeration value="ISO21090ADPartv1.0"/>
        <!-- Content model for addresses.	ISO 21090	-->
        <xs:enumeration value="ISO21090ADv1.0"/>
        <!-- Parts for mailing and home or office addresses.	ISO 21090	-->
        <xs:enumeration value="ISO21090ADXPADLv1.0"/>
        <!-- An additional locator in the address.	ISO 21090	-->
        <xs:enumeration value="ISO21090ADXPALv1.0"/>
        <!-- An address line in the address.	ISO 21090	-->
        <xs:enumeration value="ISO21090ADXPBNNv1.0"/>
        <!-- A building number numeric in the address.	ISO 21090	-->
        <xs:enumeration value="ISO21090ADXPBNRv1.0"/>
        <!-- A building number in the address.	ISO 21090	-->
        <xs:enumeration value="ISO21090ADXPBNSv1.0"/>
        <!-- A bulding number suffix in the address.	ISO 21090	-->
        <xs:enumeration value="ISO21090ADXPBRv1.0"/>
        <!--	A break in the address.	ISO 21090	-->
        <xs:enumeration value="ISO21090ADXPCARv1.0"/>
        <!-- Care of in the address.	ISO 21090	-->
        <xs:enumeration value="ISO21090ADXPCENv1.0"/>
        <!-- A census track in the address.	ISO 21090	-->
        <xs:enumeration value="ISO21090ADXPCNTv1.0"/>
        <!-- A country in the address.	ISO 21090	-->
        <xs:enumeration value="ISO21090ADXPCPAv1.0"/>
        <!-- A county or parish in the address.	ISO 21090	-->
        <xs:enumeration value="ISO21090ADXPCTYv1.0"/>
        <!-- A delivery address line in the address.	ISO 21090	-->
        <xs:enumeration value="ISO21090ADXPDALv1.0"/>
        <!-- A delivery address line in the address.	ISO 21090	-->
        <xs:enumeration value="ISO21090ADXPDIAAv1.0"/>
        <!-- A delivery installation area in the address.	ISO 21090	-->
        <xs:enumeration value="ISO21090ADXPDIQv1.0"/>
        <!-- A delivery installation qualifier in the address.	ISO 21090	-->
        <xs:enumeration value="ISO21090ADXPDIRv1.0"/>
        <!-- A direction in the address.	ISO 21090	-->
        <xs:enumeration value="ISO21090ADXPDISTv1.0"/>
        <!-- A delivery installation type in the address.	ISO 21090	-->
        <xs:enumeration value="ISO21090ADXPDMDv1.0"/>
        <!-- A delivery mode in the address.	ISO 21090	-->
        <xs:enumeration value="ISO21090ADXPDMIDv1.0"/>
        <!-- A delivery mode identifier in the address.	ISO 21090	-->
        <xs:enumeration value="ISO21090ADXPINTv1.0"/>
        <!-- An intersection in the address.	ISO 21090	-->
        <xs:enumeration value="ISO21090ADXPPOBv1.0"/>
        <!-- A post box in the address.	ISO 21090	-->
        <xs:enumeration value="ISO21090ADXPPREv1.0"/>
        <!-- A precinct in the address.	ISO 21090	-->
        <xs:enumeration value="ISO21090ADXPSALv1.0"/>
        <!-- A street address in the address.	ISO 21090	-->
        <xs:enumeration value="ISO21090ADXPSTAv1.0"/>
        <!-- A state or province in the address.	ISO 21090	-->
        <xs:enumeration value="ISO21090ADXPSTBv1.0"/>
        <!-- A street name base in the address.	ISO 21090	-->
        <xs:enumeration value="ISO21090ADXPSTRv1.0"/>
        <!-- A street name in the address.	ISO 21090	-->
        <xs:enumeration value="ISO21090ADXPSTTPv1.0"/>
        <!-- A street type in the address.	ISO 21090	-->
        <xs:enumeration value="ISO21090ADXPUNIDv1.0"/>
        <!-- A unit identifier in the address.	ISO 21090	-->
        <xs:enumeration value="ISO21090ADXPUNTv1.0"/>
        <!-- A unit designator in the address.	ISO 21090	-->
        <xs:enumeration value="ISO21090ADXPv1.0"/>
        <!-- String with a type-tag to signify its role in the address.	ISO 21090	-->
        <xs:enumeration value="ISO21090ADXPZIPv1.0"/>
        <!-- A postal code in the address.	ISO 21090	-->
        <xs:enumeration value="ISO21090ANYv1.0"/>
        <!-- Local data type that represents any UML Class. -->
        <xs:enumeration value="anyClass"/>
        <!-- Defines the basic property of every data value.	ISO 21090	-->
        <xs:enumeration value="ISO21090BAGv1.0"/>
        <!-- Unordered set of values which can appear more than once.	ISO 21090	-->
        <xs:enumeration value="ISO21090BLNTNULv1.0"/>
        <!-- Constrains instance of BL not to have a nullFlavor	ISO 21090	-->
        <xs:enumeration value="ISO21090BLv1.0"/>
        <!-- Values of two-valued logic.	ISO 21090	-->
        <xs:enumeration value="ISO21090CDBasev1.0"/>
        <!-- Base concept descriptor attributes.	ISO 21090	-->
        <xs:enumeration value="ISO21090CDCVv1.0"/>
        <!-- Constrains CD to a single code to be sent for given value.	ISO 21090	-->
        <xs:enumeration value="ISO21090CDv1.0"/>
        <!-- Reference a concept defined by a referenced code system.	ISO 21090	-->
        <xs:enumeration value="ISO21090COLLv1.0"/>
        <!-- Abstract - collects common properties/behaviors of classes.	ISO 21090	-->
        <xs:enumeration value="ISO21090COv1.0"/>
        <!-- Coded values associated with a specific order.	ISO 21090	-->
        <xs:enumeration value="ISO21090CSv1.0"/>
        <!-- Coded data in simplest form, only code is not predetermined.	ISO 21090	-->
        <xs:enumeration value="ISO21090DSETv1.0"/>
        <!-- A collection containing unordered distinct/discrete values.	ISO 21090	-->
        <xs:enumeration value="ISO21090EDDCINLINv1."/>
        <!-- Constrains ED to contain only a non-referenced document.	ISO 21090	-->
        <xs:enumeration value="ISO21090EDDCREFv1.0"/>
        <!-- Constrains ED to contain only a referenced document.	ISO 21090	-->
        <xs:enumeration value="ISO21090EDIMAGEv1.0"/>
        <!-- Constrains ED so that the contents must be an image.	ISO 21090	-->
        <xs:enumeration value="ISO21090EDSIGNAT1.0"/>
        <!-- Constrains ED to only contain an XML digital signature.	ISO 21090	-->
        <xs:enumeration value="ISO21090EDSTRTITv1.0"/>
        <!-- Constrains ED to only contain a structured title.	ISO 21090	-->
        <xs:enumeration value="ISO21090EDSTRTXv1.0"/>
        <!-- Constrains ED to only contain a structured narrative.	ISO 21090	-->
        <xs:enumeration value="ISO21090EDTEXTv1.0"/>
        <!-- Constrains ED so that it may only contain plain text.	ISO 21090	-->
        <xs:enumeration value="ISO21090EDv1.0"/>
        <!-- Data only for human interpretation or machine processing.	ISO 21090	-->
        <xs:enumeration value="ISO21090EIVLv1.0"/>
        <!-- Event-related periodic interval of time.	ISO 21090	-->
        <xs:enumeration value="ISO21090ENONv1.0"/>
        <!-- Organization Name constraint on Entity Name.	ISO 21090	-->
        <xs:enumeration value="ISO21090ENPNv1.0"/>
        <!-- Person Name constraint on Entity Name.	ISO 21090	-->
        <xs:enumeration value="ISO21090ENTNv1.0"/>
        <!-- Trivial Name constraint on Entity Name.	ISO 21090	-->
        <xs:enumeration value="ISO21090ENV1.0"/>
        <!-- A name for a person, organization, place or thing.	ISO 21090	-->
        <xs:enumeration value="ISO21090ENXPv1.0"/>
        <!-- A character string token representing a part of a name.	ISO 21090	-->
        <xs:enumeration value="ISO21090GLISTv1.0"/>
        <!-- Generated sequence.	ISO 21090	-->
        <xs:enumeration value="ISO21090GTSBPIVLv1.0"/>
        <!-- Constrains QSI(TS) to intersection of IVL(TS) and PIVL(TS)	ISO 21090	-->
        <xs:enumeration value="ISO21090HISTv1.0"/>
        <!-- Items in historical order. 	ISO 21090	-->
        <xs:enumeration value="ISO21090HXITv1.0"/>
        <!-- Provides the history of a value	ISO 21090	-->
        <xs:enumeration value="ISO21090IIv1.0"/>
        <!-- Identifier that uniquely identifies a thing or object.	ISO 21090	-->
        <xs:enumeration value="ISO21090INTNTNEGv1.0"/>
        <!-- Constrains INT to a value of 0 or greater.	ISO 21090	-->
        <xs:enumeration value="ISO21090INTPOSv1.0"/>
        <!-- Constrains INT to a value of greater than 0.	ISO 21090	-->
        <xs:enumeration value="ISO21090INTv1.0"/>
        <!-- Number results from counting and enumerating.	ISO 21090	-->
        <xs:enumeration value="ISO21090IVLHIGHv1.0"/>
        <!-- Constrains IVL so high is provided and highClosed is true.	ISO 21090	-->
        <xs:enumeration value="ISO21090IVLLOWv1.0"/>
        <!-- Constrains IVL so low is provided and lowClosed is true.	ISO 21090	-->
        <xs:enumeration value="ISO21090IVLv1.0"/>
        <!-- Set of consecutive values of an ordered base datatype.	ISO 21090	-->
        <xs:enumeration value="ISO21090IVLWIDv1.0"/>
        <!-- Constrains IVL so width is mandatory and low.	ISO 21090	-->
        <xs:enumeration value="ISO21090LISTv1.0"/>
        <!-- Collection of discrete values in a defined sequence.	ISO 21090	-->
        <xs:enumeration value="ISO21090MOv1.0"/>
        <!-- Amount of money.	ISO 21090	-->
        <xs:enumeration value="ISO21090NPPDv1.0"/>
        <!-- A set of UVP with probabilities.	ISO 21090	-->
        <xs:enumeration value="ISO21090PIVLv1.0"/>
        <!-- An interval of time that recurs periodically.	ISO 21090	-->
        <xs:enumeration value="ISO21090PQRv1.0"/>
        <!-- Extended coded physical quantiy value with a unit.	ISO 21090	-->
        <xs:enumeration value="ISO21090PQTIMEv1.0"/>
        <!-- Constrains PQ to have units that describe a period of time.	ISO 21090	-->
        <xs:enumeration value="ISO21090PQv1.0"/>
        <!-- Dimensioned quantity expressing the result of measuring.	ISO 21090	-->
        <xs:enumeration value="ISO21090PQVv1.0"/>
        <!-- An abstract precursor type for PQ and PQR.	ISO 21090	-->
        <xs:enumeration value="ISO21090QSCv1.0"/>
        <!-- Specifies a QSET that describes a predefined QSET(TS).	ISO 21090	-->
        <xs:enumeration value="ISO21090QSDv1.0"/>
        <!-- Specifies a QSET as a union of other sets.	ISO 21090	-->
        <xs:enumeration value="ISO21090QSETv1.0"/>
        <!-- Unordered set of distinctive values which are quantities.	ISO 21090	-->
        <xs:enumeration value="ISO21090QSIv1.0"/>
        <!-- Specifies a QSET as an intersection of other sets.	ISO 21090	-->
        <xs:enumeration value="ISO21090QSPv1.0"/>
        <!-- Specifies a QSET as the periodic hull between two sets.	ISO 21090	-->
        <xs:enumeration value="ISO21090QSSv1.0"/>
        <!-- Specifies a QSET as an enumeration of simple values.	ISO 21090	-->
        <xs:enumeration value="ISO21090QSUv1.0"/>
        <!-- Specifies a QSET as a union of other sets.	ISO 21090	-->
        <xs:enumeration value="ISO21090QTYv1.0"/>
        <!-- Abstract generalization quantity datatype.	ISO 21090	-->
        <xs:enumeration value="ISO21090REALv1.0"/>
        <!-- Fractional numbers represented by decimals.	ISO 21090	-->
        <xs:enumeration value="ISO21090RTOv1.0"/>
        <!-- Quantity quotient of a numerator divided by a denominator.	ISO 21090	-->
        <xs:enumeration value="ISO21090SCNTv1.0"/>
        <!-- Constrains SC so that no translations are allowed.	ISO 21090	-->
        <xs:enumeration value="ISO21090SCv1.0"/>
        <!-- Character string that optionally may have a code attached.	ISO 21090	-->
        <xs:enumeration value="ISO21090SLISTv1.0"/>
        <!-- Sequence values scaled & translated from a list of integers.	ISO 21090	-->
        <xs:enumeration value="ISO21090STNTv1.0"/>
        <!-- Constrains ST so that no translations are allowed.	ISO 21090	-->
        <xs:enumeration value="ISO21090StrDCapedv1."/>
        <!-- Abstract ancestor for captions.	ISO 21090	-->
        <xs:enumeration value="ISO21090StrDcClGpv1."/>
        <!-- Applies style to cells in a group of columns.	ISO 21090	-->
        <xs:enumeration value="ISO21090StrDcCMCtv1."/>
        <!-- Describes content model components.	ISO 21090	-->
        <xs:enumeration value="ISO21090StrDcCMFtntv"/>
        <!-- Describes content model components.	ISO 21090	-->
        <xs:enumeration value="ISO21090StrDcCMGv1.0"/>
        <!-- Describes content model components.	ISO 21090	-->
        <xs:enumeration value="ISO21090StrDcCMInlv1"/>
        <!-- Describes content model components.	ISO 21090	-->
        <xs:enumeration value="ISO21090StrDcCMTitv1"/>
        <!-- Describes content model components.	ISO 21090	-->
        <xs:enumeration value="ISO21090StrDcContv1."/>
        <!-- Wrapper for a string of text.	ISO 21090	-->
        <xs:enumeration value="ISO21090StrDcFtnRfv1"/>
        <!-- Reference to a footnote.	ISO 21090	-->
        <xs:enumeration value="ISO21090StrDcFtnv1.0"/>
        <!-- Indicates a footnote.	ISO 21090	-->
        <xs:enumeration value="ISO21090StrDcItemv1."/>
        <!-- Item in a list.	ISO 21090	-->
        <xs:enumeration value="ISO21090StrDcLenv1.0"/>
        <!-- Specified alignment characeter on each line.	ISO 21090	-->
        <xs:enumeration value="ISO21090StrDcLHtmlv1"/>
        <!-- Hypertext reference to another document.	ISO 21090	-->
        <xs:enumeration value="ISO21090StrDcListv1."/>
        <!-- Similar to an HTML list.	ISO 21090	-->
        <xs:enumeration value="ISO21090StrDcPargv1."/>
        <!-- Allows narrative to be broken up into consistent structures.	ISO 21090	-->
        <xs:enumeration value="ISO21090StrDcRdMMv1."/>
        <!-- References multimedia content in a document.	ISO 21090	-->
        <xs:enumeration value="ISO21090StrDcSubv1.0"/>
        <!-- Subscript text value.	ISO 21090	-->
        <xs:enumeration value="ISO21090StrDcTbleIt1"/>
        <!-- Abstract container for table items.	ISO 21090	-->
        <xs:enumeration value="ISO21090StrDcTblev1."/>
        <!-- A table.	ISO 21090	-->
        <xs:enumeration value="ISO21090StrDcTcellv1"/>
        <!-- A cell in a table.	ISO 21090	-->
        <xs:enumeration value="ISO21090StrDcTCelv1."/>
        <!-- Cell in a table.	ISO 21090	-->
        <xs:enumeration value="ISO21090StrDcTitFtv1"/>
        <!-- Restricts footnote to title information.	ISO 21090	-->
        <xs:enumeration value="ISO21090StrDcTRGrpv1"/>
        <!-- Group of rows.	ISO 21090	-->
        <xs:enumeration value="ISO21090StrDcTRPtv1."/>
        <!-- Describes a type of row.	ISO 21090	-->
        <xs:enumeration value="ISO21090StrDcTRv1.0"/>
        <!-- Row in a table.	ISO 21090	-->
        <xs:enumeration value="ISO21090StrDocBav1.0"/>
        <!-- Basic style and attributes for a document.	ISO 21090	-->
        <xs:enumeration value="ISO21090StrDocBrv1.0"/>
        <!-- A hard line break.	ISO 21090	-->
        <xs:enumeration value="ISO21090StrDocCapv1."/>
        <!-- Label for paragraph, list, list item, table, or table cell.	ISO 21090	-->
        <xs:enumeration value="ISO21090StrDocClItv1"/>
        <!-- Abstract ancestor for properties of col and colgroup.	ISO 21090	-->
        <xs:enumeration value="ISO21090StrDocColv1."/>
        <!-- Applies style to cells in a column.	ISO 21090	-->
        <xs:enumeration value="ISO21090StrDocSupv1."/>
        <!-- Superscript text value.	ISO 21090	-->
        <xs:enumeration value="ISO21090StrDocTextv1"/>
        <!-- Definition of structured text.	ISO 21090	-->
        <xs:enumeration value="ISO21090StrDocTitv1."/>
        <!-- Definition of a structured title.	ISO 21090	-->
        <xs:enumeration value="ISO21090STSIMv1.0"/>
        <!-- Constrains ST.NT to no language	ISO 21090	-->
        <xs:enumeration value="ISO21090STv1.0"/>
        <!-- Character string datatype stands for text data.	ISO 21090	-->
        <xs:enumeration value="ISO21090TELEMAILv1.0"/>
        <!-- Constrains the TEL.PERSON type to be an email address.	ISO 21090	-->
        <xs:enumeration value="ISO21090TELPERSv1.0"/>
        <!-- Constrains TEL to a method of communication with a person.	ISO 21090	-->
        <xs:enumeration value="ISO21090TELPHONv1.0"/>
        <!-- Constrains TEL to telephone commmunication with a person.	ISO 21090	-->
        <xs:enumeration value="ISO21090TELURLv1.0"/>
        <!-- Constrains TEL points to resource with binary content.	ISO 21090	-->
        <xs:enumeration value="ISO21090TELv1.0"/>
        <!-- Locatable resource identified with a URI.	ISO 21090	-->
        <xs:enumeration value="ISO21090TSBIRTHv1.0"/>
        <!-- Constrains TS so that it must refer to a birth date.	ISO 21090	-->
        <xs:enumeration value="ISO21090TSDATEv1.0"/>
        <!-- Constrains TS so that it may only conatin a date value.	ISO 21090	-->
        <xs:enumeration value="ISO21090TSDATFLv1.0"/>
        <!-- Constrains TS.DATE to reference to a particular day.	ISO 21090	-->
        <xs:enumeration value="ISO21090TSDTTIFLv1.0"/>
        <!-- Constrains TS.DATETIME to a particular timezone second.	ISO 21090	-->
        <xs:enumeration value="ISO21090TSDTTIv1.0"/>
        <!-- Constrains TS to not be more precise than seconds.	ISO 21090	-->
        <xs:enumeration value="ISO21090TSv1.0"/>
        <!-- Quantity specifying a point on the axis of natural time.	ISO 21090	-->
        <xs:enumeration value="ISO21090Tv1.0"/>
        <!-- Typed parameter.	ISO 21090	-->
        <xs:enumeration value="ISO21090URGHIGHv1.0"/>
        <!-- Constrains URG to high provided and highClosed is true.	ISO 21090	-->
        <xs:enumeration value="ISO21090URGLOWv1.0"/>
        <!-- Constrains URG to low required and the lowClosed true.	ISO 21090	-->
        <xs:enumeration value="ISO21090URGv1.0"/>
        <!-- Values from a range of possible values of the type T.	ISO 21090	-->
        <xs:enumeration value="ISO21090UVPv1.0"/>
        <!-- Uncertain Value-Probabilistic	ISO 21090	-->
        <xs:enumeration value="java.lang.Boolean"/>
        <!-- A local java datatype - TreeNode.	-->
        <xs:enumeration value="java.lang.Byte"/>
        <!-- Java Primitive - byte-length integer.	-->
        <xs:enumeration value="java.lang.Character"/>
        <!-- Java Primitive - single characterShort integer.	-->
        <xs:enumeration value="java.lang.Double"/>
        <!-- Java Primitive - double-precision floating point number.	-->
        <xs:enumeration value="java.lang.Float"/>
        <!-- Java Primitive - single-precision floating point number.	-->
        <xs:enumeration value="java.lang.Integer"/>
        <!-- Java Primitive - Integer.	-->
        <xs:enumeration value="java.lang.Integer[]"/>
        <!-- Java datatype - array of integers.	-->
        <xs:enumeration value="java.lang.Long"/>
        <!-- Java Primitive - long integer.	-->
        <xs:enumeration value="java.lang.Object"/>
        <!-- Java datatype - root of class hierarchy.	-->
        <xs:enumeration value="java.lang.Short"/>
        <!-- Java Primitive - short integer.	-->
        <xs:enumeration value="java.lang.String"/>
        <!-- Java datatype - class that represents character strings.	-->
        <xs:enumeration value="java.lang.String[]"/>
        <!-- Java datatype - array of strings.	-->
        <xs:enumeration value="java.lang.String[][]"/>
        <!-- Java datatype -array of strings arrays.	-->
        <xs:enumeration value="java.lang.Void"/>
        <!-- Java - reference placeholder for the Java word void.	-->
        <xs:enumeration value="java.math.BigDecimal"/>
        <!-- Java datatype - arbitrary-precision signed decimal numbers.	-->
        <xs:enumeration value="java.sql.Blob"/>
        <!-- Java SQL datatype - binary large object.	-->
        <xs:enumeration value="java.sql.Clob"/>
        <!-- Java SQL datatype - character large object.	-->
        <xs:enumeration value="java.sql.Timestamp"/>
        <!-- Java SQL datatype - thin wrapper around <xs:enumeration value="java.util.Date	-->
        <xs:enumeration value="java.util.ArrayList"/>
        <!-- Java datatype - represents resizable-array, List interface	-->
        <xs:enumeration value="java.util.Collection"/>
        <!-- Java datatype - represents a group of objects.	-->
        <xs:enumeration value="java.util.Date"/>
        <!-- Java datatype - represents a specific instant in time. 	-->
        <xs:enumeration value="java.util.HashSet"/>
        <!-- Java datatype - implements the set interface.	-->
        <xs:enumeration value="java.util.Hashtable"/>
        <!-- Java datatype - implements hashtable mapping keys to values.	-->
        <xs:enumeration value="java.util.Map"/>
        <!-- Java datatype - maps keys to single, non-duplicate values.	-->
        <xs:enumeration value="java.util.Set"/>
        <!-- Java datatype - collection containing no duplicate elements.	-->
        <xs:enumeration value="java.util.Vector"/>
        <!-- Java datatype - implements a growable array of objects. 	-->
        <xs:enumeration value="MutableTreeNote"/>
        <!-- Java datatype - general purpose node in a data tree	-->
        <xs:enumeration value="NUMBER"/>
        <!-- A number that may be used in calculations	-->
        <xs:enumeration value="Numeric"/>
        <!-- Alpha DVG	Oracle Clinical dtatype-contains alphanumeric and numeric.	The Oracle "Numeric Alpha DVG" datatype signifies that data fields with the type NUMERIC can 
          contain alphanumeric data in addition to the type of data defined by the original datatype. 
          The assignment of this datatype permits validation of specified alphanumeric data codes and 
          allows them to be entered without alerting the data entry operator or necessarily creating a discrepancy. 
          For example, a field used for recording a Lab Value Number would accept the text "Unknown" in addition to 
          a numeric value without causing an error. Examples at http://www.csscomp.com/web/training/docs/Global_Library_4_Practice.pdf -->
        <xs:enumeration value="OBJECT"/>
        <!-- representation is an object	-->
        <xs:enumeration value="String Array"/>
        <!-- An array of Strings	-->
        <xs:enumeration value="SVG"/>
        <!-- Scable Vector Graphic - XML file format for 2-D graphics 	-->
        <xs:enumeration value="TABLE"/>
        <!-- A complex datatype composed of data elements	-->
        <xs:enumeration value="TIME"/>
        <!-- A time of day specifying hours, minutes, and (opt.) seconds	-->
        <xs:enumeration value="UMLBinaryv1.0"/>
        <!-- Represents a sequence of octets.	ISO 21090	-->
        <xs:enumeration value="UMLBooleanv1.0"/>
        <!-- Enumeration whose values are true and false.	ISO 21090	-->
        <xs:enumeration value="UMLCodev1.0"/>
        <!-- Simple string that has a restricted set of possible values.	ISO 21090	-->
        <xs:enumeration value="UMLOctetv1.0"/>
        <!-- Number that can be values from 0-255; Byte	ISO 21090	-->
        <xs:enumeration value="UMLUidv1.0"/>
        <!-- String that is an identifier of OID, UUID, or simple token.	ISO 21090	-->
        <xs:enumeration value="UMLUriv1.0"/>
        <!-- Simple internet URL or URI.	ISO 21090	-->
        <xs:enumeration value="UMLXMLv1.0"/>
        <!-- Placeholder for any XML content.	ISO 21090	-->
        <xs:enumeration value="xsd:anyURI"/>
        <!-- Represents a Uniform Resource Identifier Reference (URI).	WC3 XML Schema	-->
        <xs:enumeration value="xsd:base64Binary"/>
        <!-- Base64-encoded binary data.	WC3 XML Schema	-->
        <xs:enumeration value="xsd:boolean"/>
        <!-- Binary-valued logic.	WC3 XML Schema	-->
        <xs:enumeration value="xsd:byte"/>
        <!-- 8-bit intergers form -128 to +127	WC3 XML Schema	-->
        <xs:enumeration value="xsd:date"/>
        <!-- Object with year, month and day.	WC3 XML Schema	-->
        <xs:enumeration value="xsd:dateTime"/>
        <!-- Integer year, month, day, hour, minute, second, timezone.	WC3 XML Schema	-->
        <xs:enumeration value="xsd:decimal"/>
        <!-- Subset of real numbers represented by decimal numbers.	WC3 XML Schema	-->
        <xs:enumeration value="xsd:double"/>
        <!-- Double precision 64-bit floating point numbers.	WC3 XML Schema	-->
        <xs:enumeration value="xsd:float"/>
        <!-- Single-precision 32-bit floating point numbers.	WC3 XML Schema	-->
        <xs:enumeration value="xsd:ID"/>
        <!-- Represents the ID attribute type.	WC3 XML Schema	-->
        <xs:enumeration value="xsd:IDREF"/>
        <!-- Represents the IDREF attribute type.	WC3 XML Schema	-->
        <xs:enumeration value="xsd:int"/>
        <!-- 32-bit integers	WC3 XML Schema	-->
        <xs:enumeration value="xsd:integer"/>
        <!-- Value of fractionDigits to be 0 with no decimal point.	WC3 XML Schema	-->
        <xs:enumeration value="xsd:long"/>
        <!-- 64-bit integers	WC3 XML Schema	-->
        <xs:enumeration value="xsd:short"/>
        <!-- 16-bit integers	WC3 XML Schema	-->
        <xs:enumeration value="xsd:string"/>
        <!-- Character strings in XML.	WC3 XML Schema	-->
        <xs:enumeration value="xsd:time"/>
        <!-- An instance of time occuring daily.	WC3 XML Schema	-->
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="formatName">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value=""/>
        <xs:enumeration value="%	percent"/>
        <xs:enumeration value="10,3"/>
        <xs:enumeration value="9.999"/>
        <xs:enumeration value="99.9"/>
        <xs:enumeration value="99.99"/>
        <xs:enumeration value="999-99-9999"/>
        <!-- Social Security -->
        <xs:enumeration value="999.9"/>
        <xs:enumeration value="999.99"/>
        <xs:enumeration value="999.9999"/>
        <xs:enumeration value="9999.9"/>
        <xs:enumeration value="9999.99"/>
        <xs:enumeration value="9999.999"/>
        <xs:enumeration value="99999.99"/>
        <xs:enumeration value="999999.9"/>
        <xs:enumeration value="9999999"/>
        <xs:enumeration value="DATE"/>
        <xs:enumeration value="DD/MON/YYYY"/>
        <xs:enumeration value="DY/MTH/YR"/>
        <!--	date type for CTMS/Theradex Case Report Forms -->
        <xs:enumeration value="hh"/>
        <!--	ISO 8061 24 hour display format -->
        <xs:enumeration value="hh:mm"/>
        <!-- ISO 8061 24 hour display format -->
        <xs:enumeration value="hh:mm:ss"/>
        <!-- ISO 8061 24 hour display format -->
        <xs:enumeration value="hh:mm:ss:rr"/>
        <!-- AM/PM Designator (rr is AM/PM value) -->
        <xs:enumeration value="hhmm"/>
        <!-- ISO 8061 24 hour display format  -->
        <xs:enumeration value="hhmmss"/>
        <!-- ISO 8061 24 hour display format -->
        <xs:enumeration value="mm/dd/yy"/>
        <xs:enumeration value="mm/dd/yyyy"/>
        <xs:enumeration value="MM/DD/YYYY"/>
        <xs:enumeration value="MMDDYYYY"/>
        <xs:enumeration value="MMYYYY"/>
        <xs:enumeration value="MON/DD/YYYY"/>
        <!-- Used in Theradex systems -->
        <xs:enumeration value="N/A"/>
        <xs:enumeration value="TIME (HR(24):MN)"/>
        <!-- time in hours (24) and minutes (mn)  -->
        <xs:enumeration value="TIME_HH:MM"/>
        <xs:enumeration value="TIME_MIN"/>
        <!--	Time in minutes -->
        <xs:enumeration value="xx-xxx-xxx"/>
        <!--	Character concatenation -->
        <xs:enumeration value="YYYY"/>
        <xs:enumeration value="YYYY-MM-DD"/>
        <xs:enumeration value="YYYYMM"/>
        <xs:enumeration value="YYYYMMDD"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="UOMName">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value=""/>
        <xs:enumeration value="%"/>
        <!-- 0 percision, percent -->
        <xs:enumeration value="1000/mm3"/>
        <!-- 1 precision, 	1000 per cubic millimeter -->
        <xs:enumeration value="1000/uL"/>
        <!-- 1 precision, 	1000 per microliter -->
        <xs:enumeration value="10E7 cells/Kg"/>
        <!-- 1 precision, 	10E7 cells per kilogram of body weight -->
        <xs:enumeration value="10E9/L"/>
        <!-- 1 precision, 	10E9 per Liter -->
        <xs:enumeration value="bpm"/>
        <!-- 1 precision, 	Beats per minute -->
        <xs:enumeration value="cc/min"/>
        <!-- 1 precision, 	cubic centimeter per minute -->
        <xs:enumeration value="cells/L"/>
        <!-- 1 precision, 	cells per liter -->
        <xs:enumeration value="cells/mL"/>
        <!-- 0	Cells per milliliter -->
        <xs:enumeration value="cells/uL"/>
        <!-- 1 precision, 	cells per microliter -->
        <xs:enumeration value="cGy"/>
        <!-- 1 precision, 	centiGray -->
        <xs:enumeration value="Ci/mmol"/>
        <!-- 1 precision, 	Curie per millimole -->
        <xs:enumeration value="cm"/>
        <!-- 0	centimeter -->
        <xs:enumeration value="cm H2O"/>
        <!-- 1 precision, 	Centimeter(s) of water (H2O) -->
        <xs:enumeration value="day"/>
        <!-- 1 precision,  -->
        <xs:enumeration value="EU/Kg"/>
        <!-- 1 precision, 	EU per Kilogram of body weight -->
        <xs:enumeration value="g/24 hours"/>
        <!-- 1 precision, 	Grams per 24 hours -->
        <xs:enumeration value="g/dL"/>
        <!-- 1 precision, 	grams per deciliter -->
        <xs:enumeration value="g/L"/>
        <!-- 1 precision, 	grams per liter -->
        <xs:enumeration value="gm"/>
        <!-- 1 precision, 	grams -->
        <xs:enumeration value="Gray"/>
        <!-- 0	Gy -->
        <xs:enumeration value="in"/>
        <!-- 1 precision, 	inches -->
        <xs:enumeration value="iU/L"/>
        <!-- 1 precision, 	international unit per liter -->
        <xs:enumeration value="IU/mL"/>
        <!-- 0	International unit per milliliter -->
        <xs:enumeration value="Kg"/>
        <!-- 1 precision, 	kilogram -->
        <xs:enumeration value="kg/m2"/>
        <!-- 1 precision, 	kilograms per meter squared -->
        <xs:enumeration value="kPa"/>
        <!-- 1 precision, 	kilopascal unit of pressure measurement -->
        <xs:enumeration value="kV"/>
        <!-- 1 precision, 	kilovolt -->
        <xs:enumeration value="l"/>
        <!-- 1 precision, 	liter -->
        <xs:enumeration value="L/min"/>
        <!-- 1 precision, 	Liter(s)per minute -->
        <xs:enumeration value="lb"/>
        <!-- 1 precision, 	pounds -->
        <xs:enumeration value="M"/>
        <!-- 1 precision, 	meter -->
        <xs:enumeration value="m2"/>
        <!-- 2 precision,	square meter -->
        <xs:enumeration value="mcg/l"/>
        <!-- 1 precision, 	Milliter Ration Minute Ration Gram -->
        <xs:enumeration value="mCi"/>
        <!-- 1 precision, 	milliCurie -->
        <xs:enumeration value="mEq/L"/>
        <!-- 1 precision, 	milliequivalents per liter -->
        <xs:enumeration value="mg"/>
        <!-- 1 precision, 	milligram -->
        <xs:enumeration value="mg/24 hours"/>
        <!-- 1 precision, 	Milligrams per 24 hours -->
        <xs:enumeration value="mg/dL"/>
        <!-- 1 precision, 	milligrams per deciliter -->
        <xs:enumeration value="mg/L"/>
        <!-- 1 precision, 	milligrams per liter -->
        <xs:enumeration value="mGy"/>
        <!-- 1 precision, 	mGy, milligray: 10E-3 gray, an SI unit of absorbed dose -->
        <xs:enumeration value="mGy-cm"/>
        <!-- 1 precision, 	SI unit of measure of Dose Length Product -->
        <xs:enumeration value="MHz"/>
        <!-- 1 precision, 	Megahertz -->
        <xs:enumeration value="min"/>
        <!-- 1 precision, 	minute -->
        <xs:enumeration value="min(-1)"/>
        <!-- 1 precision, 	min(-1) -->
        <xs:enumeration value="Mitosis/10 HPF"/>
        <!-- 1 precision, 	Mitosis per 10 High Power Fields -->
        <xs:enumeration value="mIU/mL"/>
        <!-- 1 precision, 	milli-international unit per milliliter (mIU/mL) -->
        <xs:enumeration value="ml"/>
        <!-- 1 precision, 	milliliter -->
        <xs:enumeration value="ml/hr"/>
        <!-- 4 precision,	milliliter per hour -->
        <xs:enumeration value="ml/min"/>
        <!-- 1 precision, 	milliliter per minute -->
        <xs:enumeration value="mL/Min/1.73m2"/>
        <!-- 1 precision, 	glomerular filtration rate of mL/Min/1.73 m2 -->
        <xs:enumeration value="mL/min/g"/>
        <!-- 1 precision, 	Milliter Ratio Minute Ratio Gram -->
        <xs:enumeration value="mm"/>
        <!-- 1 precision, 	millimeters -->
        <xs:enumeration value="mm/sec"/>
        <!-- 1 precision, 	millimeter per second -->
        <xs:enumeration value="mm3"/>
        <!-- 1 precision, 	cubic millimeter -->
        <xs:enumeration value="mmHg"/>
        <!-- 1 precision, 	millimeters of mercury -->
        <xs:enumeration value="mmol/L"/>
        <!-- 1 precision, 	millimoles per liter -->
        <xs:enumeration value="mU/L"/>
        <!-- 1 precision, 	milliunits per liter -->
        <xs:enumeration value="N/A"/>
        <!-- 0 precision,	Not Applicable -->
        <xs:enumeration value="ng/dl"/>
        <!-- 1 precision, 	nanograms per deciliter -->
        <xs:enumeration value="ng/ml"/>
        <!-- 1 precision, 	nanograms per milliliter -->
        <xs:enumeration value="number"/>
        <!-- 1 precision, 	number -->
        <xs:enumeration value="pg/mL"/>
        <!-- 1 precision, 	picograms per milliliter -->
        <xs:enumeration value="seconds"/>
        <!-- 1 precision, 	seconds -->
        <xs:enumeration value="U/L"/>
        <!-- 1 precision, 	Units per liter -->
        <xs:enumeration value="ug"/>
        <!-- 1 precision, 	microgram -->
        <xs:enumeration value="ug/l"/>
        <!-- 1 precision, 	microgram per liter -->
        <xs:enumeration value="ug/mg Creatinine"/>
        <!-- 0 Precision,	Micrograms per milligram of creatinine -->
        <xs:enumeration value="ug/mL"/>
        <!-- 1 precision, 	microgram per milliliter -->
        <xs:enumeration value="ug/ul"/>
        <!-- 1 precision, 	microgram per microliter -->
        <xs:enumeration value="ul"/>
        <!-- 1 precision, 	microliter -->
        <xs:enumeration value="um"/>
        <!-- 1 precision, 	Micrometer -->
        <xs:enumeration value="uM X min"/>
        <!-- 0 precision,	micromole times minute -->
        <xs:enumeration value="umol"/>
        <!-- 1 precision, 	micromole -->
        <xs:enumeration value="umol/L"/>
        <!-- 1 precision, 	micromole per liter -->
        <xs:enumeration value="Vol Frac"/>
        <!-- 1 precision -->
        <xs:enumeration value="x1000"/>
        <!-- 1 precision, 	multiplication thousands -->
        <xs:enumeration value="year"/>
        <!-- 1 precision, 	year -->
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="dataElementDerivation">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="type" minOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="COMPOUND"/>
              <xs:enumeration value="CONCATENATION"/>
              <xs:enumeration value="SIMPLE"/>
              <xs:enumeration value="CALCULATED"/>
              <xs:enumeration value="Simple Concept"/>
              <xs:enumeration value="AGGREGATION"/>
              <xs:enumeration value="COMPLEX RECODE"/>
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="methods" type="xs:string" minOccurs="1"/>
        <xs:element name="concatenationCharacter" type="xs:string" minOccurs="0"/>
        <xs:element ref="rule" minOccurs="0"/>
        <xs:element ref="componentDataElement" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="protocol">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="leadOrganization" type="xs:string" minOccurs="0"/>
        <xs:element name="phase" type="xs:string" minOccurs="0"/>
        <xs:element name="type" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Treatment trials"/>
              <xs:enumeration value="Prevention trials"/>
              <xs:enumeration value="Screening trials"/>
              <xs:enumeration value="Quality of Life trial"/>
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="protocolID" type="xs:string" minOccurs="0"/>
        <xs:element ref="longName"/>
        <xs:element ref="context" minOccurs="0"/>
        <xs:element ref="shortName" minOccurs="0"/>
        <xs:element name="preferredDefinition" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="registrationStatus">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="-"/>
        <xs:enumeration value="Application"/>
        <xs:enumeration value="Candidate"/>
        <xs:enumeration value="Proposed"/>
        <xs:enumeration value="Qualified"/>
        <xs:enumeration value="Retired"/>
        <xs:enumeration value="Standard"/>
        <xs:enumeration value="Standardized Elsewhere"/>
        <xs:enumeration value="Superceded"/>
        <xs:enumeration value="Suspended"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="designation">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element ref="createdBy" minOccurs="0"/>
        <xs:element ref="dateCreated" minOccurs="0"/>
          <xs:element ref="dateModified" minOccurs="0"/>
            <xs:element ref="modifiedBy" minOccurs="0"/>
              <xs:element ref="languageName" minOccurs="0"/>
        <xs:element ref="name"/>
        <xs:element name="type" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="3.1 VM Name"/>
              <xs:enumeration value="ABBREVIATION"/>
              <xs:enumeration value="ACRIN Alt Name"/>
              <xs:enumeration value="ACRIN Code"/>
              <xs:enumeration value="ACRIN Question No."/>
              <xs:enumeration value="AU Cancer Dataset"/>
              <xs:enumeration value="AU data field name"/>
              <xs:enumeration value="C3D Name"/>
              <xs:enumeration value="CEM Key"/>
              <xs:enumeration value="CEM Name"/>
              <xs:enumeration value="CEM XML Tag"/>
              <xs:enumeration value="C3PR Name"/>
              <xs:enumeration value="CDC_OLD_MD_ID"/>
              <xs:enumeration value="CDC_REV_MD_ID"/>
              <xs:enumeration value="CIBMTR_DB"/>
              <xs:enumeration value="COG Form Element"/>
              <xs:enumeration value="COG GDE #"/>
              <xs:enumeration value="COG GDE Short Name"/>
              <xs:enumeration value="CONTEXT NAME"/>
              <xs:enumeration value="CRITERION_NAME"/>
              <xs:enumeration value="CSTE	Council of State and Territorial Epidemiologists"/>
              <xs:enumeration value="Context Short Name"/>
              <xs:enumeration value="CURE Form UUID"/>
              <xs:enumeration value="DCP Alt Name"/>
              <xs:enumeration value="DICOM Attribute Name"/>
              <xs:enumeration value="DICOM Terminology"/>
              <xs:enumeration value="DICOM_TAG"/>
              <xs:enumeration value="GME_SourceXMLLocRef"/>
              <xs:enumeration value="GME_TargetXMLLocRef"/>
              <xs:enumeration value="GME_XMLElement"/>
              <xs:enumeration value="GME_XMLLocReference"/>
              <xs:enumeration value="GME_XMLNamespace"/>
              <xs:enumeration value="External Name"/>
              <xs:enumeration value="External ID"/>
               <xs:enumeration value="GO_CODE"/>
              <xs:enumeration value="HISTORICAL_CDE_ID"/>
              <xs:enumeration value="HITSP ID"/>
              <xs:enumeration value="HITSP Source ID"/>
              <xs:enumeration value="HL7 Code"/>
              <xs:enumeration value="HL7 Item No."/>
              <xs:enumeration value="HL7 Segment Tag"/>
              <xs:enumeration value="IARC Cancer Dataset"/>
              <xs:enumeration value="ISA-TAB-Nano Col Nm"/>
              <xs:enumeration value="LOINC_CODE"/>
              <xs:enumeration value="NAACCR Alt Name"/>
              <xs:enumeration value="NAACCR Item #"/>
              <xs:enumeration value="NAACCR Item Name"/>
              <xs:enumeration value="NAACCR VM Name"/>
              <xs:enumeration value="NCI_CONCEPT_CODE"/>
              <xs:enumeration value="NCI_META_CUI"/>
              <xs:enumeration value="NCI_MO_CODE"/>
              <xs:enumeration value="NINDS"/>
              <xs:enumeration value="NMDP_FN"/>
              <xs:enumeration value="OID, ACRIN"/>
              <xs:enumeration value="OID, CTSU"/>
              <xs:enumeration value="OID, Mayo"/>
              <xs:enumeration value="Prior Preferred Name"/>
              <xs:enumeration value="RQRS Column Name"/>
              <xs:enumeration value="SNOMED CT Term"/>
              <xs:enumeration value="Screen Label	Text"/>
              <xs:enumeration value="System-Generated"/> <!-- Added Oct-11-2012 -->
              <xs:enumeration value="Synonym"/>
              <xs:enumeration value="TW Cancer Dataset"/>
              <xs:enumeration value="TW data field name"/>
              <xs:enumeration value="UK Cancer Dataset"/>
              <xs:enumeration value="UK data field name"/>
              <xs:enumeration value="UML Attribute"/>
              <xs:enumeration value="UML Class"/>
              <xs:enumeration value="UML Class:UML Attr"/>
              <xs:enumeration value="UML Qualified Attr"/>
              <xs:enumeration value="UML Qualified Class"/>
              <xs:enumeration value="UML Value Name"/>
              <xs:enumeration value="UMLS_CUI"/>
              <xs:enumeration value="USED_BY"/>
              <xs:enumeration value="UWD_VA_CODE"/>
              <xs:enumeration value="VA_NDF_CODE"/>
              <xs:enumeration value="VM Alt Name"/>
              <xs:enumeration value="XML Tag"/>
              <xs:enumeration value="eMERGE Name"/>
              <xs:enumeration value="ePRO Field Name"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element ref="context" minOccurs="0"/>
        <xs:element ref="classification" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="classification">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="classification" type="xs:string" minOccurs="0"/>
        <xs:element ref="name" minOccurs="0"/>
        <xs:element ref="publicID" minOccurs="0"/>
        <xs:element ref="version" minOccurs="0"/>
        <xs:element ref="preferredDefinition" minOccurs="0"/>
        <xs:element name="classificationSchemeItem" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="name"/>
              <xs:element ref="publicID"/>
              <xs:element ref="version"/>
              <xs:element name="type">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="Case Report Form"/>
                    <xs:enumeration value="C3D"/>
                    <xs:enumeration value="CATEGORY_TYPE"/>
                    <xs:enumeration value="CATEGORY_TYPE1"/>
                    <xs:enumeration value="CATEGORY_TYPE2"/>
                    <xs:enumeration value="CEM class"/>
                    <xs:enumeration value="CEM usage"/>
                    <xs:enumeration value="DISEASE_TYPE"/>
                    <xs:enumeration value="Form Type"/>
                    <xs:enumeration value="GROUP_TYPE"/>
                    <xs:enumeration value="JAVA_INTERFACE"/>
                    <xs:enumeration value="Phase Type"/>
                    <xs:enumeration value="Service Context"/>
                    <xs:enumeration value="Service Operation"/>
                    <xs:enumeration value="TEST"/>
                    <xs:enumeration value="TRIAL_TYPE_USAGE"/>
                    <xs:enumeration value="Template Type"/>
                    <xs:enumeration value="UML_PACKAGE_ALIAS"/>
                    <xs:enumeration value="UML_PACKAGE_NAME"/>
                    <xs:enumeration value="USAGE_TYPE"/>
                    <xs:enumeration value="testCaseMix"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element ref="preferredDefinition"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="version" type="xs:decimal"/>
  <xs:element name="id" type="xs:string"/>
  <xs:element name="publicID" type="xs:nonNegativeInteger"/>
  <xs:element name="createdBy" type="xs:string"/>
  <xs:element name="dateCreated" type="xs:dateTime"/>
  <xs:element name="dateModified" type="xs:dateTime"/>
  <xs:element name="modifiedBy" type="xs:string"/>
  <xs:element name="shortName" type="xs:string"/>
  <xs:element name="longName">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="2000"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="instruction" type="instructionType"/>

  <xs:complexType name="instructionType">
    <xs:sequence>
      <xs:element ref="text" minOccurs="0"/>
      <xs:element ref="createdBy" minOccurs="0"/>
      <xs:element ref="dateCreated" minOccurs="0"/>
      <xs:element ref="dateModified" minOccurs="0"/>
      <xs:element ref="modifiedBy" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="origin" type="xs:string"/>
  <xs:element name="preferredName">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="30"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="workflowStatusName">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="RELEASED"/>
        <xs:enumeration value="APPRVD FOR TRIAL USE"/>
        <xs:enumeration value="RELEASED-NON-CMPLNT"/>
        <xs:enumeration value="CMTE APPROVED"/>
        <xs:enumeration value="CMTE SUBMTD"/>
        <xs:enumeration value="CMTE SUBMTD USED"/>
        <xs:enumeration value="DRAFT NEW"/>
        <xs:enumeration value="DRAFT MOD"/>
        <xs:enumeration value="RETIRED DELETED"/>
        <xs:enumeration value="RETIRED WITHDRAWN"/>
        <xs:enumeration value="RETIRED ARCHIVED"/>
        <xs:enumeration value="RETIRED PHASED OUT"/>
        <xs:enumeration value="UNDER DEVELOPMENT"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="context">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="ACRIN"/>
        <xs:enumeration value="BRIDG"/>
        <xs:enumeration value="caBIG"/>
        <xs:enumeration value="caBIG CDE Data Standards"/>
        <xs:enumeration value="caCORE"/>
        <xs:enumeration value="CCR"/>
        <xs:enumeration value="CDC/PHIN"/>
        <xs:enumeration value="CDISC"/>
        <xs:enumeration value="CIP"/>
        <xs:enumeration value="CTEP"/>
        <xs:enumeration value="DCP"/>
        <xs:enumeration value="EDRN"/>
        <xs:enumeration value="HITSP"/>
        <xs:enumeration value="NCRI"/>
        <xs:enumeration value="NHLBI"/>
        <xs:enumeration value="NHS"/>
        <xs:enumeration value="NICHD"/>
        <xs:enumeration value="NIDA"/>
        <xs:enumeration value="NIDCR"/>
        <xs:enumeration value="NINDS"/>
        <xs:enumeration value="PS&amp;CC"/>
        <xs:enumeration value="SPOREs"/>
        <xs:enumeration value="TEST"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="referenceDocument" nillable="true">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="displayOrder" minOccurs="0">
          <xs:simpleType>
            <xs:union memberTypes="xs:integer emptyString"/>
          </xs:simpleType>
        </xs:element> 
        <xs:element ref="name" minOccurs="0"/>
        <xs:element name="type" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="PDF"/>
              <xs:enumeration value="Attribution"/>
              <xs:enumeration value="REFERENCE"/>
              <xs:enumeration value="Activity Diagram"/>
              <xs:enumeration value="Alternate Question Text"/>
              <xs:enumeration value="Application Standard Question Text"/> <!-- v17 -->
              <xs:enumeration value="Associations"/> <!-- changed from Associations Documents to Associations v17 -->
              <xs:enumeration value="BRIDG Mapping Path"/> <!-- v16 -->
              <xs:enumeration value="C3D (Oracle Clinical) Form Metadata"/> <!-- v17 -->
              <xs:enumeration value="COMMENT"/>
              <xs:enumeration value="Class Diagram"/>
              <xs:enumeration value="Coding Instructions"/> <!-- v17 -->
              <xs:enumeration value="Communication Diagram"/>
              <xs:enumeration value="Component Diagram"/>
              <xs:enumeration value="Composite Structure Diagram"/>
              <xs:enumeration value="DATA_ELEMENT_SOURCE"/>
              <xs:enumeration value="DESCRIPTION"/>
              <xs:enumeration value="DETAIL_DESCRIPTION"/>
              <xs:enumeration value="Deployment Diagram"/> <!-- v17 from Deployment Diagram UM to Deployement Diagram -->
              <xs:enumeration value="EXAMPLE"/>
              <xs:enumeration value="IMAGE_FILE"/>
              <xs:enumeration value="Interaction Overview Diagram"/>
              <xs:enumeration value="LABEL"/>
              <xs:enumeration value="META_CONCEPT_SOURCE"/>
              <xs:enumeration value="NCI CRF Standard Category"/> <!-- v17 -->
              <xs:enumeration value="NOTE"/>
              <xs:enumeration value="Object Diagram"/>
              <xs:enumeration value="PDF"/>
              <xs:enumeration value="Package Diagram"/>
              <xs:enumeration value="Preferred Question Text"/>
              <xs:enumeration value="Proprietary Measure Permission"/> <!-- v17 -->
              <xs:enumeration value="REFERENCE"/>
              <xs:enumeration value="Scope Document"/>
              <xs:enumeration value="Sequence Diagram"/>
              <xs:enumeration value="State Machine Diagram"/>
              <xs:enumeration value="Standard Alternate Question Text"/> <!-- V17 -->
              <xs:enumeration value="TECHNICAL GUIDE"/>
              <xs:enumeration value="Timing Diagram"/>
              <xs:enumeration value="UML Attribute"/>
              <xs:enumeration value="UML Class"/>
              <xs:enumeration value="Use Case"/>
              <xs:enumeration value="Use Case Diagram"/>
              <xs:enumeration value="VALID_VALUE_SOURCE"/>
              <xs:enumeration value="VD REFERENCE"/>
              <xs:enumeration value="XMI File"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element ref="context" minOccurs="0"/>
        <xs:element name="doctext" type="xs:string" minOccurs="0"/>
        <xs:element ref="languageName" minOccurs="0"/>
        <xs:element name="URL" minOccurs="0" type="URLType"/>
        <xs:element ref="attachments" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="createdBy" minOccurs="0"/>
        <xs:element ref="dateCreated" minOccurs="0"/>
        <xs:element ref="dateModified" minOccurs="0"/>
        <xs:element ref="modifiedBy" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="URLType">
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>

  <xs:element name="attachments">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="mimeType" type="xs:string"/>
        <xs:element name="size" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="value" type="xs:string" nillable="true"/>
  <xs:element name="definition" nillable="true">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element ref="createdBy" minOccurs="0"/>
        <xs:element ref="dateCreated" minOccurs="0"/>
        <xs:element ref="dateModified" minOccurs="0"/>
        <xs:element ref="modifiedBy" minOccurs="0"/>
        <xs:element ref="languageName" minOccurs="0"/>
        <xs:element ref="text"/>
        <xs:element name="type" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="3.1 VM Definition"/>
              <xs:enumeration value="CABIO"/>
              <xs:enumeration value="CSP2000"/>
              <xs:enumeration value="DICOM"/>
              <xs:enumeration value="DICOM Definition"/>
              <xs:enumeration value="ISA-TAB-Nano Def"/>
              <xs:enumeration value="Manually-curated"/>
              <xs:enumeration value="MSH2001"/>
              <xs:enumeration value="MSH2002_06_01"/>
              <xs:enumeration value="NAACCR"/>
              <xs:enumeration value="NCI"/>
              <xs:enumeration value="NCI-GLOSS"/>
              <xs:enumeration value="Prior Preferred Definition"/>
              <xs:enumeration value="NCICB"/>
              <xs:enumeration value="System-generated"/>
              <xs:enumeration value="UML Class"/>
              <xs:enumeration value="UML Class:UML Attr"/>
              <xs:enumeration value="UML Value Definition"/>
              <xs:enumeration value="WHO2002"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element ref="classification" minOccurs="0" maxOccurs="unbounded"/> <!-- Added in Version 18 -->
        <xs:element ref="context" minOccurs="0"/> <!-- Added in Version 19 -->
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="text" type="xs:string"/>
  <xs:element name="triggerAction" nillable="true">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element name="targetModuleDisplayOrder" minOccurs="0"/>
        <xs:element name="targetModuleName" type="xs:string" minOccurs="0"/>
        <xs:element ref="instruction" minOccurs="0"/>
        <xs:element name="targetQuestionDisplayOrder" type="xs:string"/>
        <xs:element name="targetDataElementPublicID"/>
        <xs:element name="targetDataElementVersion"/>
        <xs:element ref="protocol" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="createdBy" minOccurs="0"/>
        <xs:element ref="dateCreated" minOccurs="0"/>
        <xs:element ref="dateModified" minOccurs="0"/>
        <xs:element ref="modifiedBy" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeNote" type="xs:string"/>
  <xs:element name="sourceFormElement" type="xs:string"/>
  <xs:element name="displayOrder" nillable="true">
    <xs:simpleType>
      <xs:union memberTypes="xs:integer emptyString"/>
    </xs:simpleType>
  </xs:element> 

  <xs:element name="description" type="xs:string"/>
  <xs:element name="languageName" default="ENGLISH">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="ENGLISH"/>
        <xs:enumeration value="Icelandic"/>
        <xs:enumeration value="-"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="name" type="xs:string"/>

  <xs:element name="type">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="CRF"/>
        <xs:enumeration value="TEMPLATE"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="usageType">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Mandatory"/>
        <xs:enumeration value="Optional"/>
        <xs:enumeration value="Conditional"/>
        <xs:enumeration value="None"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="rule" type="xs:string" nillable="true"/>



</xs:schema>
