software/FormLoader/src/gov/nih/nci/cadsr/formloader/service/impl/FormLoaderv7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <!-- Version 1 
    see requirements/assumptions caDSR Form Loader 1.0 v2 Scope-->
  <!-- Version 2
    added minOccurs="0" to displayOrder, name and type for referenceDocument -->
  <!-- Version 3
    added TCGA designation name types -->
  <!-- Version 4
    updated definition, designation, context enumerations -->
  <!-- Version 5 
    updated definition and designation to nill admin elements, and reduce Classification/CSI requirement to publicId/Version -->
  <!-- Version 6 
    Fixed designation type TCGA Name TCGA_Name, added NINDS Alt Name, HCT_BRIDG, NICHD Alt Name
    added "Training" Context, fixed type in PBCT to PBTC
    added Registration Status ""  
  added Numeric Alpha DVG datatype -
   fixed formatName from %  percent to % -->
  <!-- Version 7
    Removed enumerations, 
    added back fields that might be in the XML due to following
  the exported caDSR XML and made them optional
  add collectionName atribute to forms element 
  Changed PubliID and Version type to xs:string so null value is acceptable --> 
  
  <xs:element name="forms">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="form" type="formType" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="collectionName"/>
    </xs:complexType>
  </xs:element>
  

    <xs:complexType name="formType" mixed="true">
      <xs:sequence>
        <!-- context can be added as a default using the Form Loader -->
        <xs:element ref="context" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="createdBy" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="dateCreated" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="dateModified" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="modifiedBy" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="longName" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="changeNote" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="preferredDefinition" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="publicID" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="version" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="registrationStatus" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="workflowStatusName" minOccurs="0" maxOccurs="1"/><!-- can be a default value in form loader -->
        <xs:element ref="categoryName" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="disease" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="type" minOccurs="0" maxOccurs="1"/> <!-- default in form loader -->
        <xs:element ref="designation" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="definition" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="headerInstruction" type="instructionType" minOccurs="0" maxOccurs="1"/>
        <xs:element name="footerInstruction" type="instructionType" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="module" minOccurs="1" maxOccurs="unbounded"/>
        <xs:element ref="protocol" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="referenceDocument" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="contactCommunication" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
  

  <xs:element name="contactCommunication">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="rank" minOccurs="0"/>
        <xs:element name="type" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="PHONE"/>
              <xs:enumeration value="EMAIL"/>
              <xs:enumeration value="FAX"/>
              <xs:enumeration value="In Person"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="value" type="xs:string" minOccurs="0"/>
        <xs:element name="organizationName" type="xs:string" minOccurs="0"/>
        <xs:element name="organizationRAI" type="xs:string" minOccurs="0"/>
        <xs:element ref="person" minOccurs="0"/>
        <xs:element ref="createdBy" minOccurs="0"/>
        <xs:element ref="dateCreated" minOccurs="0"/>
        <xs:element ref="dateModified" minOccurs="0"/>
        <xs:element ref="modifiedBy" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="emptyString">
    <xs:restriction base="xs:string">
      <xs:enumeration value=""/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="rank" type="xs:string"/>

  <xs:element name="person">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="firstName" type="xs:string"/>
        <xs:element name="lastName" type="xs:string"/>
        <xs:element name="position" type="xs:string"/>
        <xs:element ref="address" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="address">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="addressLine1" type="xs:string"/>
        <xs:element name="addressLine2" type="xs:string"/>
        <xs:element name="city" type="xs:string"/>
        <xs:element name="state" type="xs:string"/>
        <xs:element name="country" type="xs:string"/>
        <xs:element name="postalCode" type="xs:string"/>
        <xs:element ref="rank" minOccurs="0"/>
        <xs:element name="type">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="MAILING"/>
              <xs:enumeration value="Package Delivery"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="categoryName" type="xs:string" nillable="true"/>
  <xs:element name="disease" type="xs:string" nillable="true"/>

  <xs:element name="module">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="displayOrder" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="maximumModuleRepeat" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="createdBy" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="dateCreated" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="dateModified" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="modifiedBy" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="longName" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="instruction" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="preferredDefinition" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="publicID" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="version" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="usageCategory" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="question" minOccurs="1" maxOccurs="unbounded"/>
        <xs:element ref="triggerAction" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="maximumModuleRepeat" type="xs:integer" nillable="true"/>

  <xs:element name="usageCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="usageType" minOccurs="0"/>
        <xs:element ref="rule" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="question">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="publicID" minOccurs="0" maxOccurs="1"/> <!-- Added V19 -->
        <xs:element ref="version" minOccurs="0" maxOccurs="1"/> <!-- Added V19 -->
        <xs:element ref="isDerived" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="displayOrder" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="createdBy" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="dateCreated" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="dateModified" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="modifiedBy" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="questionText" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="instruction" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="defaultValue" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="isEditable" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="isMandatory" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="multiValue" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="dataElement" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="validValue" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="triggerAction" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="questionRepetitions" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="isDerived">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="defaultValue" type="xs:string" nillable="true"/>
  <xs:element name="isEditable">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Yes"/>
        <xs:enumeration value="No"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="isMandatory">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Yes"/>
        <xs:enumeration value="No"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="multiValue">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Yes"/>
        <xs:enumeration value="No"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="questionText" type="xs:string"/>
  <xs:element name="dataElement" type="dataElementType"/>

  <xs:complexType name="dataElementType">
    <xs:sequence>
      <xs:element ref="longName" minOccurs="0"/>
      <xs:element ref="shortName" minOccurs="0"/> 
      <xs:element ref="publicID"/>
      <xs:element ref="version"/>
      <xs:element ref="context" minOccurs="0"/>
      <xs:element ref="workflowStatusName" minOccurs="0"/>
      <xs:element ref="registrationStatus" minOccurs="0"/>
      <xs:element ref="preferredDefinition" minOccurs="0"/>
      <xs:element ref="designation" minOccurs="0" maxOccurs="unbounded"/> 
      <xs:element ref="valueDomain" minOccurs="0"/>
      <xs:element ref="dataElementDerivation" minOccurs="0"/> <!-- Added in formCartV2 -->
      <xs:element ref="referenceDocument" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="cdeBrowserLink" type="URLType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="componentDataElement">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="usageCategory" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="displayOrder" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="dataElement" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="preferredDefinition" type="xs:string"/>

  <xs:element name="valueDomain">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="longName"/>
        <xs:element ref="shortName"/>
        <xs:element ref="publicID"/>
        <xs:element ref="version"/>
        <xs:element name="type" type="valueDomainType"/>
        <xs:element ref="context" minOccurs="0"/>
        <xs:element ref="workflowStatusName" minOccurs="0"/>
        <xs:element ref="datatypeName" minOccurs="0"/>
        <xs:element name="decimalPlace" type="xs:string" minOccurs="0"/>
        <xs:element ref="formatName" minOccurs="0"/>
        <xs:element name="highValueNumber" type="xs:string" minOccurs="0"/>
        <xs:element name="lowValueNumber" type="xs:string" minOccurs="0"/>
        <xs:element name="maximumLengthNumber" type="xs:string" minOccurs="0"/>
        <xs:element name="minimumLengthNumber" type="xs:string" minOccurs="0"/>
        <xs:element ref="UOMName" minOccurs="0"/>
        <xs:element ref="valueDomainConcept" minOccurs="0"/> 
        <xs:element ref="permissibleValue" minOccurs="0" maxOccurs="unbounded"/> 
        <xs:element ref="referenceDocument" minOccurs="0" maxOccurs="unbounded"/>
        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="permissibleValue"> 
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="value" minOccurs="0"/>
        <xs:element ref="valueMeaning" minOccurs="0"/>
        <xs:element name="beginDate" minOccurs="0"/>
        <xs:element name="endDate" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="validValue">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="displayOrder" minOccurs="0"/>
        <xs:element ref="value"/>
        <xs:element ref="meaningText"/>
        <xs:element ref="description"/>
        <xs:element ref="instruction" minOccurs="0"/>
        <xs:element ref="valueMeaning" minOccurs="0"/>
        <xs:element ref="triggerAction" minOccurs="0"/>
        <xs:element ref="createdBy" minOccurs="0"/>
        <xs:element ref="dateCreated" minOccurs="0"/>
        <xs:element ref="dateModified" minOccurs="0"/>
        <xs:element ref="modifiedBy" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="meaningText" type="xs:string"/>
  
  <xs:element name="valueMeaning">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="publicID" minOccurs="0"/>
        <xs:element ref="version" minOccurs="0"/>
        <xs:element ref="longName" minOccurs="0"/>
        <xs:element ref="designation" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="definition" minOccurs="0" maxOccurs="unbounded"/> <!-- Added v19 -->
        <xs:element ref="preferredDefinition" minOccurs="0"/> <!-- Added v19 -->
        <xs:element ref="conceptDerivation" minOccurs="0" maxOccurs="unbounded"/> <!-- Added v18 -->
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="conceptDerivation"> <!-- Added v18 -->
    <xs:complexType>
      <xs:sequence>
        <xs:element name="displayOrder"/>
          
        <xs:element name="primaryFlag"/> 
        <xs:element name="conceptCode"/> <!-- preferredName -->
        <xs:element name="conceptName"/> <!-- longName -->
        <xs:element name="integerValue"/> <!-- value -->
        <xs:element name="origin"/> <!-- origin -->
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="valueDomainConcept">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="primaryConceptName"/>
        <xs:element name="primaryConceptCode"/>
        <xs:element name="nciTermBrowserLink" type="xs:anyURI" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="questionRepetitions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="repeatSequenceNumber"/>
        <xs:element name="defaultValidValue"/>
        <xs:element ref="isEditable"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <xs:simpleType name="valueDomainType">
    <xs:restriction base="xs:string">
      <xs:pattern value="Enumerated|NonEnumerated"/>
    </xs:restriction>
  </xs:simpleType>


  <xs:element name="datatypeName"/>
    

  <xs:element name="formatName"/>
    
  <xs:element name="UOMName"/>
    
  <xs:element name="dataElementDerivation">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="type" minOccurs="1"/>
        <xs:element name="methods" type="xs:string" minOccurs="1"/>
        <xs:element name="concatenationCharacter" type="xs:string" minOccurs="0"/>
        <xs:element ref="rule" minOccurs="0"/>
        <xs:element ref="componentDataElement" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  

  <xs:element name="protocol">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="leadOrganization" type="xs:string" minOccurs="0"/>
        <xs:element name="phase" type="xs:string" minOccurs="0"/>
        <xs:element name="type" minOccurs="0"/>
        <xs:element name="protocolID" type="xs:string" minOccurs="0"/>
        <xs:element ref="longName"/>
        <xs:element ref="context" minOccurs="0"/>
        <xs:element ref="shortName" minOccurs="0"/>
        <xs:element name="preferredDefinition" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="registrationStatus"/>

  <xs:element name="designation">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element ref="createdBy" minOccurs="0"/>
        <xs:element ref="dateCreated" minOccurs="0"/>
        <xs:element ref="dateModified" minOccurs="0"/>
        <xs:element ref="modifiedBy" minOccurs="0"/>
        <xs:element ref="languageName" minOccurs="0"/>
        <xs:element ref="name" minOccurs="1"/>
        <xs:element name="type" minOccurs="0"/>
        <xs:element ref="context" minOccurs="0"/>
        <xs:element ref="classification" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="classification">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="classification" type="xs:string" minOccurs="0"/> 
        <xs:element ref="name" minOccurs="0"/>
        <xs:element ref="publicID" minOccurs="0"/>
        <xs:element ref="version" minOccurs="0"/>
        <xs:element ref="preferredDefinition" minOccurs="0"/>
        <xs:element name="classificationSchemeItem" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="name"/>
              <xs:element ref="publicID"/>
              <xs:element ref="version"/>
              <xs:element name="type"/>
              <xs:element ref="preferredDefinition"/>
      </xs:sequence>
    </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="version" type="xs:string"/>
  <xs:element name="id" type="xs:string"/>
  <xs:element name="publicID" type="xs:string"/>
  <xs:element name="createdBy" type="xs:string"/>
  <xs:element name="dateCreated" type="xs:dateTime"/>
  <xs:element name="dateModified" type="xs:dateTime"/>
  <xs:element name="modifiedBy" type="xs:string"/>
  <xs:element name="shortName" type="xs:string"/>
  <xs:element name="longName">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="2000"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="instruction" type="instructionType"/>

  <xs:complexType name="instructionType">
    <xs:sequence>
      <xs:element ref="text" minOccurs="0"/>
      <xs:element ref="createdBy" minOccurs="0"/>
      <xs:element ref="dateCreated" minOccurs="0"/>
      <xs:element ref="dateModified" minOccurs="0"/>
      <xs:element ref="modifiedBy" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="origin" type="xs:string"/>
  <xs:element name="preferredName">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="30"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="workflowStatusName" type="xs:string"/>
  <xs:element name="context" type="xs:string"/>

  <xs:element name="referenceDocument" nillable="true">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="displayOrder" minOccurs="0">
          <xs:simpleType>
            <xs:union memberTypes="xs:integer emptyString"/>
          </xs:simpleType>
        </xs:element> 
        <xs:element ref="name" minOccurs="0"/>
        <xs:element name="type" minOccurs="0"/>
        <xs:element ref="context" minOccurs="0"/>
        <xs:element name="doctext" type="xs:string" minOccurs="0"/>
        <xs:element ref="languageName" minOccurs="0"/>
        <xs:element name="URL" minOccurs="0" type="URLType"/>
        <xs:element ref="attachments" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="createdBy" minOccurs="0"/>
        <xs:element ref="dateCreated" minOccurs="0"/>
        <xs:element ref="dateModified" minOccurs="0"/>
        <xs:element ref="modifiedBy" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="URLType">
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>

  <xs:element name="attachments">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="mimeType" type="xs:string"/>
        <xs:element name="size" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="value" type="xs:string" nillable="true"/>
  <xs:element name="definition" nillable="true">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element ref="createdBy" minOccurs="0"/>
        <xs:element ref="dateCreated" minOccurs="0"/>
        <xs:element ref="dateModified" minOccurs="0"/>
        <xs:element ref="modifiedBy" minOccurs="0"/>
        <xs:element ref="languageName" minOccurs="0"/>
        <xs:element ref="text"/>
        <xs:element name="type" minOccurs="0"/>
        <xs:element ref="classification" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="context" minOccurs="0"/>
         </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="text" type="xs:string"/>
  <xs:element name="triggerAction" nillable="true">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element name="targetModuleDisplayOrder" minOccurs="0"/>
        <xs:element name="targetModuleName" type="xs:string" minOccurs="0"/>
        <xs:element ref="instruction" minOccurs="0"/>
        <xs:element name="targetQuestionDisplayOrder" type="xs:string"/>
        <xs:element name="targetDataElementPublicID"/>
        <xs:element name="targetDataElementVersion"/>
        <xs:element ref="protocol" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="createdBy" minOccurs="0"/>
        <xs:element ref="dateCreated" minOccurs="0"/>
        <xs:element ref="dateModified" minOccurs="0"/>
        <xs:element ref="modifiedBy" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeNote" type="xs:string"/>
  <xs:element name="sourceFormElement" type="xs:string"/>
  <xs:element name="displayOrder" nillable="true">
    <xs:simpleType>
      <xs:union memberTypes="xs:integer emptyString"/>
    </xs:simpleType>
  </xs:element> 

  <xs:element name="description" type="xs:string"/>
  <xs:element name="languageName" default="ENGLISH">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="ENGLISH"/>
        <xs:enumeration value="Icelandic"/>
        <xs:enumeration value="-"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="name" type="xs:string"/>

  <xs:element name="type">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="CRF"/>
        <xs:enumeration value="TEMPLATE"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="usageType">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Mandatory"/>
        <xs:enumeration value="Optional"/>
        <xs:enumeration value="Conditional"/>
        <xs:enumeration value="None"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="rule" type="xs:string" nillable="true"/>



</xs:schema>
